function mitmproxyenableandrun {
	echo "Enabling WI-FI web proxy and secure web proxy"
	networksetup -setwebproxystate wi-fi on
	networksetup -setsecurewebproxystate wi-fi on
	echo "Starting mitmproxy"
	mitmproxy
}

function mitmproxydisable {
	echo "Disabling WI-FI web proxy and secure web proxy"
	networksetup -setwebproxystate wi-fi off
	networksetup -setsecurewebproxystate wi-fi off
}

function mitmproxyconfiguresimulator {
	if [ "$#" -ne 1 ]; then
		echo "Usage: mitmproxyconfiguresimulator <ADVTrustStore location>"
	else
		cd $1
		./iosCertTrustManager.py -a ~/.mitmproxy/mitmproxy-ca-cert.pem
		cd -
	fi
}

function recordiOSsimulator {
	if [ "$#" -ne 1 ]; then
		echo "Usage: recordiOSsimulator <target path to mp4 file>"
	else
		xcrun simctl io booted recordVideo --type=mp4 $1
	fi
}
